*~
*.o
*.obj
*.tmp
*.diff
*.patch
*.swp
*.exe
*.dll
*.res
*.pdb
*.suo
*.user
*.sdf
*.opensdf
*.xdc
ipch
Debug
Release
D3DU/Debug
D3DU/Release
Triangle/Debug
Triangle/Release
MandelbrotCube/Debug
MandelbrotCube/Release
